<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Productos</h1>                         
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each payload.docs }}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{ this.title }}</td>
                    <td>{{ this.stock }}</td>
                    <td>{{ this.price }}</td>
                    <td><a href="/admin/products/edit/{{this._id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
            </table>     
        </div>
    </div>
</div>


